{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load socialaccount %}
{% block title %}Login{% endblock %}
{% block local_head_resources %}
{% endblock %}
{% block content %}
<div class="container">
    <h3>로그인</h3>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit="로그인" %}
        {% endbuttons %}
    
        <!--
        {#% buttons submit="회원가입_2" reset="다시입력" %}
        {#% endbuttons %}
        -->
    </form>
    <a href="{% provider_login_url 'kakao' method='oauth2' %}" class="btn btn-warning">카카오 로그인</a>
    <a href="{% provider_login_url 'naver' method='oauth2' %}" class="btn btn-success">네이버 로그인</a>
</div>


{% endblock %}
{% block local_body_resources %}
{% endblock %}